{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        Flask Dashboard GradientAble -  Login  | AppSeed
    </title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Specific CSS goes HERE -->


</head>
<body>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">


    <!-- [ auth-signin ] start -->
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">

                            <img src="{% static 'images/logo-dark.png' %}" alt="" class="img-fluid mb-4">
                            <h4 class="mb-3 f-w-400">
                                <a href="https://appseed.us/admin-dashboards/flask-dashboard-gradientable">Flask Dashboard</a> - Signin
                            </h4>
                            <span class="mb-0 text-muted">

									Default Credentials: test / pass

							</span>
                            <!-- dummy spacer -->
                            <p> <br /> </p>
                            <form role="form" method="post" action="">

                                <input id="csrf_token" name="csrf_token" type="hidden" value="ImNjYTQyYTg0MWQzZTI2YTA4NWE0ZmFlNGM5MzNiOGVhMzM0OGYxMDci.X4MkTg.nm6eoVx7kEmpOVWX3LlzxFOpy08">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-user"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Username" type="text" name="username" value="test">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Password" type="password" name="password" value="pass">
                                </div>
                                <div class="form-group text-left mt-2">
                                    <div class="checkbox checkbox-primary d-inline">
                                        <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                        <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                                    </div>
                                </div>
                                <button type="submit" name="login" class="btn btn-block btn-primary mb-4">Signin</button>

                            </form>

                            <p class="mb-0 text-muted">Don’t have an account? <a href={% url 'dashboard:register' %} class="f-w-400">Signup</a></p>
                            <p class="mb-2 text-muted">
                                <br />
                                &copy; <a target="_blank" rel="noopener" href="https://codedthemes.com/?ref=appseed" class="f-w-400">CodedThemes</a>
                                - coded by <a target="_blank" rel="noopener" href="https://appseed.us" class="f-w-400">AppSeed</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ auth-signin ] end -->


</div>
<!-- [ auth-signin ] end -->


<script src="{% static 'js/vendor-all.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'js/pcoded.min.js' %}"></script>

<!-- Specific Page JS goes HERE  -->


<script src="{% static 'js/waves.min.js' %}"></script>



</body>
</html>
